@rendermode InteractiveServer

<div class="col-md-3 mb-2">
    <a href="/BookReview/@Book?.Id">
        style="text-decoration:none">
        <img class="img-thumbnail" src="@Book?.ImageUrl">
        <div class="card-body">
            <h5>
                @Book?.Title
            </h5>
            <p class="card-text">
                <b>@Book?.Description</b>
            </p>
        </div>
    </a>
</div>

@code {
    [Parameter]

    public BooksModel? Book { get; set; }
}